<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <title>Ticket Table</title>
</head>

<body>
    <div class="container mt-4">
        <div class="row mb-2">
            <div class="col-md-3 ms-auto">
                <input type="text" id="ticketSearch" class="form-control" placeholder="Search Departments">

            </div>

        </div>

        <table class="table table-hover align-middle" id="ticketTable">
            <thead class="table-dark">
                <tr>
                    <th>Ticket ID </th>
                    <th>Ticket Title</th>
                    <th>Severity</th>
                    <th>Ticket Code</th>
                    <th>Ticket Author</th>
                    <th>Assigned To</th>
                    <th>Who Deployed</th>
                </tr>
            </thead>

            <tbody>
                {% for x in ticketTable %}
                <tr style="cursor:pointer" data-bs-toggle="modal" data-bs-target="#userModal" data-id="{{ x.id }}"
                    class="{{ x.status_class }}" data-name="{{ x.ticketTitle }}" data-dept="{{ x.dept }}"
                    data-ticket-body="{{ x.ticketBody }}" data-ticket-author="{{x.ticketAuthor}}"
                    data-ticket-timestamp="{{x.ticketCreatedAt}}" data-ticket-status="{{ x.ticketStatus }}"
                    data-ticket-Updated="{{ x.ticketUpdatedAt }}" data-deploy="{{ x.isDeploy }}"
                    data-is-admin="{{ x.ticketAuthor.isAdmin|lower }}">
                    <td>{{ x.id }}</td>
                    <td>{{ x.ticketTitle}} </td>
                    <td>{{ x.ticketSeverity }}</td>
                    <td>{{ x.ticketCode }}</td>
                    <td>{{ x.ticketAuthor }}</td>
                    <td>{{ x.ticketAssignedTo }}</td>
                    <td>{{ x.ticketDeployer }}</td>

                </tr>
                {% empty %}
                <tr>
                    <td colspan="5" class="text-center text-muted">
                        No records found
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
    <!-- Above is the div for the table -->



    <div class="modal fade" id="userModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="modalName"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body">

                    <div class="card shadow-sm">
                        <div class="card-body">
                            <p><strong>Concern:</strong> <span id="modalTicketBody"></span></p>
                            <p><strong>By:</strong> <span id="modalTicketAuthor"></span></p>
                            <p><strong>Date/Time Issued:</strong> <span id="modalTimeStamp"></span></p>
                            <p><strong>Ticket Status: </strong> <span id="modalticketStatus"></span></p>
                            <p><strong>Ticket Last Update: </strong> <span id="modalticketUpdated"></span></p>
                        </div>
                    </div>

                    <div id="adminSection" class="card mt-3 d-none border-danger">
                        <div class="card-body">
                            <h6 class="text-danger">Admin Controls</h6>

                            <form method="POST" action="{% url 'update_ticket' %}">
                                {% csrf_token %}

                                <!-- IMPORTANT: ticket id -->
                                <input type="hidden" name="ticket_id" id="modalTicketId">

                                <select class="form-select mb-2" name="assigned_to">
                                    <option value="">Select Employee to Deploy</option>
                                    {% for EMPdeploy in forDeploy %}
                                    <option value="{{ EMPdeploy.id }}">{{ EMPdeploy }}</option>
                                    {% endfor %}
                                </select>

                                <select class="form-select mb-2" name="deployed_by">
                                    <option value="">Select Who Deployed</option>
                                    {% for EmpAdmin in forAdmin %}
                                    <option value="{{ EmpAdmin.id }}">{{ EmpAdmin }}</option>
                                    {% endfor %}
                                </select>

                                <select class="form-select mb-2" name="ticket_status">
                                    <option value="">Select Status of Ticket</option>
                                    {% for value, label in status_choices %}
                                    <option value="{{ value }}">{{ label }}</option>
                                    {% endfor %}
                                </select>

                                <button type="submit" class="btn btn-danger w-100">
                                    Update Ticket
                                </button>
                            </form>
                        </div>
                    </div>
                    <!-- Above is an on click for the admin section only -->



                    <div id="deploySection" class="card mt-3 d-none border-danger">

                        <div class="card-body">
                            <h6 class="text-danger">Deploy Controls</h6>

                            <select class="form-select mb-2">
                                <option></option>
                            </select>

                            <select class="form-select mb-2">
                                <option>Deployed By</option>
                            </select>

                            <button class="btn btn-danger w-100">Update Ticket</button>
                        </div>
                    </div>
                    <!-- Above is an on click for the is Deploy section only -->




                </div>

            </div>
        </div>
    </div>
    <!-- above is the code for the modal on click  -->






    <nav>
        <ul class="pagination justify-content-center">
            {% if ticketTable.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ ticketTable.previous_page_number }}">
                    Previous
                </a>
            </li>
            {% endif %}

            {% for num in ticketTable.paginator.page_range %}
            <li class="page-item {% if ticketTable.number == num %}active{% endif %}">
                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
            </li>
            {% endfor %}
            {% if ticketTable.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ ticketTabledept_count.next_page_number}}">
                    Next</a>
            </li>
            {% endif %}
        </ul>
    </nav>


    <!-- Code above is for pagination  -->




    <script>
        const modal = document.getElementById('userModal')

        modal.addEventListener('show.bs.modal', function (event) {
            const row = event.relatedTarget
            const adminSection = document.getElementById('adminSection')

            document.getElementById('modalName').innerText = row.dataset.name
            document.getElementById('modalTicketBody').innerText = row.dataset.ticketBody
            document.getElementById('modalTicketAuthor').innerText = row.dataset.ticketAuthor
            document.getElementById('modalTimeStamp').innerText = row.dataset.ticketTimestamp
            document.getElementById('modalticketStatus').innerText = row.dataset.ticketStatus
            document.getElementById('modalticketUpdated').innerText = row.dataset.ticketUpdated

            document.getElementById('modalTicketId').value = row.dataset.id
            if (!adminSection) return

            adminSection.classList.add('d-none')

            const isAdmin = "{{ is_admin|yesno:'true,false' }}" === "true"

            if (isAdmin) {
                adminSection.classList.remove('d-none')
            }

            console.log("Logged-in user isAdmin:", isAdmin)
        })

        document.getElementById("ticketSearch").addEventListener("keyup", function () {
            let value = this.value.toLowerCase()
            let rows = document.querySelectorAll("#ticketTable tbody tr")

            rows.forEach(row => {
                row.style.display = row.innerText.toLowerCase().includes(value) ? "" : "none"
            })
        })
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>